<aside>
  <h1>Student Council Elections</h1>
  <ul>
    <li><a routerLink=""
         [routerLinkActiveOptions]="{exact: true}"
         routerLinkActive="active">Home</a></li>
    <li><a routerLink="positions"
         routerLinkActive="active">Positions</a></li>
    <li><a routerLink="candidates"
         routerLinkActive="active">Candidates</a></li>
     <li><a routerLink="students"
         routerLinkActive="active">Students</a></li>
     <li><a routerLink="teachers"
         routerLinkActive="active">Teachers</a></li>
  </ul>
</aside>