<div *ngIf="state === 'pin'" id="landing" class="center" [class.disabled]='disablePin'>
  <div>
    <img id="logo" src="assets/logo.png" alt="Logo">
    <div>
      <h1>Student Council Elections</h1>
      <h2>Teachers</h2>
      <h3>Vote for your representatives!</h3>
      <p>Enter your pin to start!</p>
      <input #pin id="pin"
             type="text"
             placeholder="1234"
             [disabled]='disablePin'
             (keydown)="pinKeypress($event, pin.value)"
             (input)="pinInput($event, pin.value, pin)">
    </div>
  </div>
</div>
<div *ngIf="state === 'error'" id="error" class="center">
  <div>
    <h1>Sorry!</h1>
    <p>
      The application is not currently open for voting. Please check again
      later or ask the Tech Team for help.
    </p>
  </div>
</div>


<div *ngIf="state === 'instructions'" class="center" id="instructions">
  <div>
    <div class="logo">
      <img src="assets/logo.png">
    </div>
    <h1>Welcome, {{ teacher?.name }}!</h1>
    <button (click)="toPin()" class="btn">I'm not {{ teacher?.name }}</button>
    <p>
      In the following screens, you will be presented with positions and
      candidates running for each position.
    </p>
    <p>
      For each position, tap the candidate you would like to vote for.
      You are free to change this as many times as you would like to.
    </p>
    <p>
      Once you are happy with your choices, click the "I'm Done!" button
      at the bottom of the page.
    </p>
    <button (click)="loadPositions()" class="btn primary">Let's Start!</button>
  </div>
</div>

<!-- Main Voting Page -->
<div *ngIf="state === 'cast-vote'" id="positions" [class.disabled]="disableVoting">
  <div *ngFor="let position of positions">
    <h1>
      {{ position.position }}<span *ngIf="choices[position._id]">: <span>{{ choices[position._id].candidate.name }}</span></span>
    </h1>
    <div class="candidates">
      <div *ngFor="let p of position.candidates"
           class="candidate"
           (click)="selectCandidate(position, p)"
           [class.selected]="choices[position._id]?._id === p._id">
        <div class="image">
          <img [src]="img(p.candidate._id)">
          <div class="back">
            <i class="fas fa-user-check"></i>
          </div>
        </div>
        <div>
          <h3>{{ p.candidate.name }}</h3>
          <div>{{ p.candidate.tagline }}</div>
          <p>{{ p.candidate.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div id="submit">
    <h1>Review your choices.</h1>
    <p>
      Good job! You've reached the end of the form! Now is the time
      to go back and review your choices. Once you are satisfied,
      click the button below!
    </p>
    <button (click)="submitVotes()" class="btn primary">I'm Done!</button>
  </div>
</div>

<div *ngIf="state === 'thank-you'" class="center" id="thank-you">
  <div>
    <h1>Your votes have been recorded!</h1>
    <p>
      Thank you for participating!
    </p>
    <button (click)="toPin()" class="btn primary">Vote Again</button>
  </div>
</div>