<ng-template [ngIf]="teacher">
  <h1 class="title">Edit {{ form.value.name ? form.value.name : 'Teacher' }}</h1>
  <main>
    <form #form="ngForm" (submit)="attemptUpdate(form.value)">
      <div class="input">
        <label>Teacher Name*</label>
        <sub>The name of the teacher.</sub>
        <input type="text" ngModel name="name" required placeholder="Eg: Joe Bob">
      </div>
      <div class="input">
        <label>House*</label>
        <sub>Which house does the teacher belong to?</sub>
        <select name="house" value="" ngModel>
          <option disabled value="">Pick One</option>
          <option>Poseidon</option>
          <option>Hercules</option>
          <option>Phoenix</option>
          <option>Caesar</option>
        </select>
      </div>
      <div class="input">
        <a routerLink="../../" class="btn">Cancel</a>
        <input type="submit" value="Save" class="btn primary">
      </div>
    </form>
  </main>
</ng-template>