<h1>Import Management</h1>
<a routerLink="../" class="btn">Back</a>
<main>
  <h3 class="step" data-step="1">Setup Data</h3>
  <p>
    From this panel, you can import multiple members at once.
    You can do this using a .csv file that matches the following format exactly.
  </p>
  <p>
    <b>Warning:</b> This will remove all existing management from the system.
  </p>
  <table class="tbl">
    <tr>
      <th>Name</th>
    </tr>
    <tr>
      <td>Dilan Edge</td>
    </tr>
    <tr>
      <td>Kameron Eaton</td>
    </tr>
    <tr>
      <td>Max Pollard</td>
    </tr>
    <tr>
      <td style="text-align: center;" colspan="1">...</td>
    </tr>
  </table>
  <p></p>
  <a class="btn" href="assets/management-format.csv" download>Download Format (.csv)</a>

  <h3 class="step" data-step="2">Upload</h3>
  <p>

  </p>
  <div>
    <input #input type="file" (change)="selectFile($event.target.files[0])" accept="text/csv">
    &nbsp;
    <button (click)="importFile()" class="btn primary">Import</button>
  </div>
</main>