table {
  border-collapse: collapse;
  /* border: 1px solid black; */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 5px 13px rgba(0,0,0,0.15);
  background: white;
  color: black;
  width: 100%;
  margin-top: 12px;
  /* table-layout: fixed; */
}
table thead th {
  border-bottom: 2px solid #777;
  user-select: none;
  padding-right: 32px !important;
  text-align: left;
  position: relative;
}
table thead th.sortable {
  cursor: pointer;
}
table thead th.sortable:hover {
  background: #eee;
}
table thead th::after {
  content: '›';
  position: absolute;
  right: 10px;
  top: -9px;
  pointer-events: none;
  font-weight: 200;
  opacity: 0;
  font-size: 2em;
  transition: opacity 300ms, transform 300ms;
  text-align: center;
  transform-origin: 4px 58%;
}

table thead th.sort-up::after {
  transform: rotate(-90deg); opacity: 0.2;
}

table thead th.sort-down::after {
  transform: rotate(90deg); opacity: 0.2;
}

table tbody td {
  border-top: 1px solid #ddd;
}
table > * > tr > * {
  padding: 4px 12px;
}
table > * > tr > *:not(:last-child) {
  border-right: 1px solid #eee;
}

/* Action buttons */
.actions {
  padding: 4px 8px !important;
  width: 1px;
  white-space: nowrap;
}
.actions i {
  display: inline-block;
  margin: 8px;
  cursor: pointer;
  position: relative;
  color: #f2709c;
  transition: opacity 300ms;
}
.actions i::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%) scale(0);
  background: #f2709c;
  opacity: 0;
  border-radius: 16px;
  transition: opacity 130ms, transform 200ms;
}

.actions i:hover::after {
  opacity: 0.1;
  transform: translate(-50%, -50%) scale(1);
}
.actions i.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.paginate {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.paginate .fas {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  border-radius: 16px;
  cursor: pointer;
}
.paginate .fas:hover {
  background: rgba(255,255,255,0.2);
}

.paginate .fas.disabled {
  opacity: 0.3;
  pointer-events: none;
}
